# dependencies
node_modules
.pnp
.pnp.js

# next
.next
out
dist
dist-static

# env / secrets
.env
.env.local
.env.*.local
.dev.vars

# debug / ide
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
.idea
.vscode
*.tsbuildinfo
next-env.d.ts

# drizzle
drizzle/meta

# cloudflare / wrangler leftovers (not used)
.wrangler
.mf
